.student-container{

}
.create_student_title{
    font-size: 3.2em;
    text-align: center;
    line-height: 1.1;
}

.student-table-container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

tr{
    color: white;
}

th{
    color: white !important;
}