.navbar-container{
    width: 15vw;
    height: 95%;
    background-color: rgba(86, 86, 86, 0.616);
    position: fixed;
    box-shadow: 0px 0px 5px rgba(73, 73, 73, 0.477);
    border-radius: 20px;
    margin: 20px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.navbar-main-container{
    position: relative;
    width: 15vw;
    margin: 10px;
    height: 95%;
}

.side-title{
    color: rgb(219, 219, 219);
    text-align: center;
    font-weight: 700;
    margin: 30px 0px;
}

.listes{
display: flex;
flex-direction: column;
margin-left: 40px;
}

.listes>li{
    list-style-type: none;
    font-size: 30px;
    margin: 10px 0px;
    color: white !important;
}

a{
    color: white !important;
}