.create-button{
    position: relative;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.white{
    color:white !important;
    width: 90% !important;
    margin-top: 10px;
}

.blue{
    color:rgb(0, 162, 255) !important;
    width: 90% !important;
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.student-table-container>div{
    margin: 20px 0px;
}

.student-container{
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.button-container{
    margin: 30px 0px !important;
}