/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
  background-color: black !important;
  overflow: hidden;
}

.second_container{
  background-color: rgba(86, 86, 86, 0.616);
    box-shadow: 0px 0px 5px rgba(73, 73, 73, 0.477);
  height: 95vh;
  margin: 20px;
  width: 80vw;
  border-radius: 20px;
  overflow: scroll !important;
  overflow-x: hidden !important;
}